html {
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0px;
  height:100vh;

  background-color: #0f1928;
  color: #3c96be;
  font-family: 'Courier New', monospace;
}

h1 {
  text-align: center;
}

a {
  color: #73cff4;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.grid-wrapper {
  display: grid;
  align-items: center;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 5vh
}

.wrapper {
  display: inline-block;
  max-width: 100%;;
}

/* header styling */

.site-header {
  padding: 2% 2.5% 1.5%;
  background-color: #141e32;
}

.site-title {
  display: inline-block;
  text-decoration: none;
  text-align: left;
  font-size: 3em;
  color: inherit;
}

.site-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: auto;
  height: 100%;
  grid-area: 1 / 2 / 1 / 2;
}

.site-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4vh 1vw 4vh;

  margin: 0 0.5vw 0;

  font-size: 150%;
  text-align: center;

  text-decoration: none;

  border: 1px solid #3c96be;
  transition: transform .1s;
}

.site-nav-button:hover, .site-nav-button:focus {
  background-color: #14283c;
}

.site-nav-menu {
}

.site-nav-menu::before {
  display: inline-block;
  content: "<";
  transition: transform .1s;
}
.site-nav-menu:hover::before, .site-nav-menu:active::before {
  transform: rotate(-90deg);
}

.nav-link {

}

.nav-link:hover, .nav-link:focus{
  transform: scale(1.1);
}

/* footer styling */
.site-footer {
  margin-top: auto;
  padding: 1% 2% 0.1%;
  background-color: #141e32;
}

.footer-left {
  grid-area: 1 / 1 / 1 / 1;
  display: inline-block;
}

.footer-right {
  grid-area: 1 / 2 / 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-social {
  list-style: none;
  display: inline-block;
}

.social-link {
  display: flex;
  align-items: center;
}

.svg-icon {
  fill: #3c96be;
  width: 50px;
  height: 50px;
}

/* content styling */

.banner {
  display: flex;
  justify-content: center;

  max-width: 100%;
  padding: 5vh 2.5vh;
  margin: 5vh 0 15vh 0;

  background-color: #73cff4;
}

.banner-no-background {
  display: flex;
  justify-content: center;

  max-width: 100%;
  padding: 2.5vh 2.5vh;
  margin: 5vh 0 5vh 0;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #3c96be;
  border-radius: 50%;
  display: inline-block;
}

.section-title {
  color:#0f1928;
  font-style: oblique;
  font-size: 2em;
  font-weight: 1;
  text-align: center;
}

.single-column {
  margin: auto;
  padding: 1% 1% 2%;

  max-width: 800px;
}

.bottom-right {
  display: flex;
  justify-content: right;
}

.page-title {
  font-size: 3em;
  font-weight: 1;
}

.large-portfolio-img {
  object-fit: cover;

  min-width: 350px;
  min-height: 300px;

  height: 60vh;
  width: 40vw;
}

.portfolio-desc-background {
  min-width: 350px;
  min-height: 100px;
  width: 40vw;
  padding-bottom: 5vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  background-color: #141e32;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}

.portfolio-desc-header {
  position: relative;
  top: -3vh;

  padding: 2vh 1vw 2vh;

  width: 25vw;

  background-color: #3c96be;

  font-size: 1.5em;
  color:#0f1928;
}

.portfolio-desc-header:hover, .portfolio-desc-header:focus {
  background-color: #73cff4;
}

.portfolio-desc {
  align-self: flex-start;
  padding: 2vh 2vw;
}

.portfolio-link {
  color:#0f1928;
}

.portfolio-img-button {
  display: flex;
  flex-direction: column-reverse;
  margin: 1vh 0.5vw;
  min-width: 350px;
  width: 40vw;
}

.portfolio-img-button-label {
  opacity: 0;
  z-index: -1;
  position: relative;
  top: 15vh;

  border-radius: 2px 2px 0 0;

  background-color: #73cff4;
  padding: 2vh 1vw 2vh 1vw;
  transition: transform 0.25s;

  font-size: 1.5em;
  color:#0f1928;
}

.portfolio-img-button:hover .portfolio-img-button-label {
  opacity: 1;
  display: flex;
  transform: translate(0, -14vh);
}
.portfolio-img-button:focus .portfolio-img-button-label {
  opacity: 1;
  display: flex;
  transform: translate(0, -14vh);
}
