html {
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0px;
  height:100vh;

  background-color: #0f1928;
  color: #3c96be;
  font-family: 'Courier New', monospace;
}

h1 {
  text-align: center;
}

a {
  color: #73cff4;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.grid-wrapper {
  display: grid;
  align-items: center;
}

.flex-wrapper-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  min-height: 30%;
}

.flex-wrapper-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: inline-block;
  max-width: 100%;;
}

/* header styling */

.site-header {
  padding: 2% 2.5% 1.5%;
  background-color: #141e32;
}

.site-title {
  display: inline-block;
  text-decoration: none;
  text-align: left;
  font-size: 3em;
  color: inherit;
}

.site-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: auto;
  height: 100%;
  grid-area: 1 / 2 / 1 / 2;
}

.site-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4vh 1vw 4vh;

  margin: 0 0.5vw 0;

  font-size: 150%;
  text-align: center;

  text-decoration: none;

  border: 1px solid #3c96be;
  transition: transform .1s;
}

.site-nav-button:hover, .site-nav-button:focus {
  background-color: #14283c;
}

.site-nav-menu {
}

.site-nav-menu::before {
  display: inline-block;
  content: "<";
  transition: transform .1s;
}
.site-nav-menu:hover::before, .site-nav-menu:active::before {
  transform: rotate(-90deg);
}

.nav-link {

}

.nav-link:hover, .nav-link:focus{
  transform: scale(1.1);
}

/* footer styling */
.site-footer {
  margin-top: auto;
  padding: 1% 2% 0.1%;
  background-color: #141e32;
}

.footer-left {
  grid-area: 1 / 1 / 1 / 1;
  display: inline-block;
}

.footer-right {
  grid-area: 1 / 2 / 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-social {
  list-style: none;
  display: inline-block;
}

.social-link {
  display: flex;
  align-items: center;
}

.svg-icon {
  fill: #3c96be;
  width: 50px;
  height: 50px;
}

/* content styling */

.single-column {
  margin: auto;
  padding: 1% 1% 2%;

  max-width: 800px;
}

.bottom-right {
  display: flex;
  justify-content: right;
}

.page-title {
  font-size: 3em;
  font-weight: 1;
}

.large-portfolio-img {
  object-fit: cover;

  min-width: 300px;
  min-height: 200px;

  height: 60vh;
  width: 40vw;

  margin-bottom: 5vh;
}

.portfolio-desc-background {
  background-color: #141e32;

  min-width: 40vw;
  min-width: 200px;
  width: 40vw;
  height: 30vh;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}

.portfolio-desc-header {
  position: relative;
  top: -3vh;

  padding: 2vh 1vw 2vh;

  min-width: 200px;
  width: 20vw;

  background-color: #3c96be;

  font-size: 2em;
  color:#0f1928;
}

.portfolio-desc-header:hover, .portfolio-desc-header:focus {
  background-color: #73cff4;;
}

.portfolio-desc {
  margin: 2vh 2vw;
}

.portfolio-link {
  color:#0f1928;
}
