.container {
  position: relative;
  width: 100%;
  max-height: 100px;
  color: white;
}

.container:hover {
  position: relative;
  width: 100%;
  max-height: 100px;
  opacity: 0.9;
}

.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
  color: white;
  text-shadow: 0px 0px 6px black;
}
