<footer class="site-footer" aria-label="footer">
  <div class="grid-wrapper">
    <div class="footer-left">
      <div id="footer-social" class="footer-social" social={{site.social_links | jsonify}} root={{site.url}}>
      </div>
    </div>
    <div class="footer-right">
      <nav id="footer-nav" nav-links={{nav_links}} role="navigation">
        {%- for page in site.nav_pages -%}
          {%- assign my_page = site.pages | where: "path", page | first -%}
          <a href={{my_page.url | absolute_url}}>{{my_page.title}}</a><br>
        {%- endfor -%}
      </nav>
    </div>
  </div>
  <div><a href={{site.email}}>> Email Me</a></div>
  <div class="bottom-right">
    <p>Site contents © 2021 under <a href={{"/documents/license.txt" | absolute_url}}>MIT</a> license.</p>
  </div>
</footer>
