<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.nav_pages | default: default_paths -%}


    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      {{ site.author_firstname }}
      {{ site.author_surname }}
    </a>

    {%- if page_paths -%}
      <nav id="site-nav" class="site-nav">
        {% assign pages = '' %}
        {% for page in site.nav_pages %}
        {%- assign my_page = site.pages | where: "path", page | first -%}
        {%- assign pages = pages | append: my_page.url | append: " " | default: '' -%}
        {% endfor %}
        {{ pages | split: " " | jsonify }}
      </nav>
    {%- endif -%}
  </div>
</header>
