---
layout: default
---

<main class="page-content" aria-label="Content">
  <div class="single-column">
    <h1 class="page-title">{{ page.title | escape }}</h1>
    {{ content }}
  </div>

  <div class="flex-wrapper">
    <img class="home-img" src="assets/2kcornellbox.jpg">
    <img class="home-img" src="assets/Ubiquitin.png">
    <img class="home-img" src="assets/RavenEngineEditor.png">
    <img class="home-img" src="assets/TerrainRendering.png">
    <img class="home-img" src="assets/Flushed.png">
    <img class="home-img" src="assets/CantWaitLvl3.gif">
    <img class="home-img" src="assets/raytracergui.gif">
    <img class="home-img" src="assets/FreeFormDeformation.gif">
    <img class="home-img" src="assets/composite_gbuffer.png">
    <img class="home-img" src="assets/InitialRayTracer.png">
    <img class="home-img" src="assets/horizontalBVH.png">
    <img class="home-img" src="assets/Suzanne.png">
  </div>
</main>
