---
layout: default
---
<section>
  <div class="single-column">
    <h1 class="page-title">{{ page.title | escape }}</h1>
    {{ content }}
  </div>
  <ul class="post-list">
    {%- assign entries = site.pages | sort: "order" | where: "layout", "portfolio_entry"-%}
    {%- for entry in entries -%}
    <li>
      <div class="container">
        <a class="post-link" href="{{ entry.url | relative_url }}">
          <img src= "{{ entry.titlePicture }}">
          <div class="bottomleft">{{ entry.title | escape }}</div>
        </a>
      </div>
      <span class="post-meta">{{ post.excerpt }}</span>
    </li>
    {%- endfor -%}
  </ul>
</section>
